---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Richard Almonte" description="About Richard Almonte Test TEXT">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Richard Almonte at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>						
						I am a Software Engineer with over a decade of experience developing high-quality and 
						efficient software solutions for various domains and clients. 
						I have a passion for applying my knowledge and skills to solve complex problems and
						deliver value to my clients and their customers. 
											  
					</p>
					<p>
						I enjoy working with a team of like-minded individuals who are passionate about
						their craft and are always looking to learn and grow. I am a strong believer in 
						continuous learning and improvement and I am always looking for ways to improve my skills and knowledge.					
						
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>My learning path started since the high school time where I became "Tecnico en Informatica"</p>
					After that I went to Instituto Tecnologico de Santo Domingo (INTEC) where I started the Systems Engineering career.
					So I move to Italy and I started the Computer Science career at University of Parma. I believe in continuous learning and improvement 
					that's why I am always looking for ways to improve my skills and knowledge.
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>	In my role as a Software Engineer, I've cultivated a versatile skill set that spans a wide range of technologies and methodologies. 
						I'm proficient in crafting efficient and scalable RESTful APIs using languages such as C# and leveraging frameworks like .NetFramework/.NetCore. 
						My expertise extends to dynamic web application development, where I employ languages like Typescript, and platforms like NodeJs and NestJS.
					</p>
					<p>
						I'm well-versed in database management, particularly with SQL Server, and have experience in cloud services such as Azure and AWS. 
						This background equips me to design and implement robust, cloud-native solutions.

						Throughout my career, I've excelled in translating complex business requirements into functional software solutions. 
						This involves thorough requirements analysis, meticulous bug fixing, and the development of new features. 
						I'm equally adept at maintaining and optimizing codebases to ensure they meet the highest standards of quality and performance.
						
						Overall, my proficiency in these areas enables me to tackle diverse and challenging projects, providing innovative 
						software solutions that exceed client expectations.
						
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
