 ---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import H1 from '../components/H1.astro';
---

<Layout title="About Rhythm Nation Blog">
    <Main>
        <H1 text="About Rhythm Nation Blog"></H1>
        <p>This is all about this blog! It's awesome!</p>
    </Main>
</Layout>
