---
// this is a test
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient	/>
		<h2>Back-End</h2>
		<p>
			Specialized in C# and .NET technologies with extensive experience in
			back-end development. Proficient in building scalable and efficient
			microservices using .NET Core, ASP.NET, and Entity Framework. Experienced
			in deploying and managing .NET applications on Azure.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>TypeScript</h2>
		<p>
			Gained experience with TypeScript, a statically-typed superset of
			JavaScript. Familiar with building web applications using TypeScript,
			React, and Node.js.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)"	size="2.5rem"	gradient />
		<h2>Database & DevOps</h2>
		<p>
			Experienced in designing, implementing, and managing databases using SQL
			Server. 
			Proficient in writing complex SQL queries and optimizing database performance.
			Also skilled in DevOps practices, including CI/CD, containerization with Docker, and orchestration with
			Kubernetes.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
